body, html {
    height: 100%;
    margin: 0;
}
#img {
    /*background-image: url(img/bg.png);*/
    background-color: rgb(230, 220, 212);
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}

.mainContainers{
    padding: 20px 30px 20px 30px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;    color: #494949;

}
#firstDiv  {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


#yourPhoto {
    text-align: center;

}
legend {
    font-size: 35px;
    margin: 20px;
    width: 60%;
    text-align: center;
    color: #494949;
    font-family: "Segoe UI Light";
    border-bottom: none;
}
fieldset {
    text-align: center;
    border: 1px solid #494949;
    }

.headerOfDiv {
    margin-bottom: 30px;
}

h2 {
    font-family: "Segoe UI";
}
p {
    font-family: "Segoe UI Light";
}


/*Skills*/
.progress-bar {
background-color: transparent;
    float: none;
    text-align: start;
}

ul.progress-bar {
    list-style: none;
    width: 100%;
}
ul.progress-bar li {
    font-family: "Segoe UI Light";
    color: #494949;
    margin-top: 15px;
    margin-left: -35px;
}

ul.progress-bar li .progress-bar {
    position: relative;
    background-color: #c5c5c5;
    margin-top: 8px;
    width: 70%;                         /*change here*/
    height: 10px;
}
ul.progress-bar li .progress-bar div {
    background: #8a0032;
    overflow: hidden;
    position: absolute;
    height: 10px;
    min-width: 0;
}
/*/Skills*/

/*Work*/
.workEducationContainer {
    border-left: 2px solid #8a0032;
    margin-left: 10px;
}

.block {
    width: 90%;
    padding-left: 20px;
    position: relative;
}

.circle {
    position: absolute;
    top: 0px;
    left: -9px;
    background-color: #8a0032;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/*/Work*/

/*Hobbies*/
.hobbies {
    border: 1px solid;
    border-radius: 50%;
    padding: 25px;
    margin: 10px;
}

/*/Hobbies*/