body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
h1, h2, h3, h4 {
    font-family: "Segoe UI";
}
p, h5, h6 {
    font-family: "Segoe UI Light";
}

#img {
    background-image: url(img/bg1.jpg);
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;

}


#firstDiv  {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mainContainers{
    padding: 20px 30px 20px 30px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.20) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.20);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.20) ;
    color: #494949;
}



#yourPhoto {
    text-align: center;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

fieldset {
    text-align: center;
    padding: 20px 10px 20px 10px;
    width: 100%;
    border: 2px solid #ffffff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.42), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    }


.headerOfDiv {
margin-bottom: 30px;
}



.languages {
    box-sizing: border-box;
}





/*Skills*/
.progress-bar {
background-color: transparent;
    float: none;
    text-align: start;
    box-sizing: border-box;

}

ul.progress-bar {
    list-style: none;
    width: 100%;
}
ul.progress-bar li {
    font-family: "Segoe UI Light";
    color: #494949;
    margin-top: 15px;
    margin-left: -35px;
}

ul.progress-bar li .progress-bar {
    position: relative;
    background-color: #dadada;
    margin-top: 8px;
    width: 70%;                         /*change here*/
    height: 10px;
}
ul.progress-bar li .progress-bar div {
    background: #5b0800;
    overflow: hidden;
    position: absolute;
    height: 10px;
    min-width: 0;
}
/*/Skills*/

/*Work*/
.workEducationContainer {
    border-left: 2px solid #5b0800;
    margin-left: 10px;
    margin-right: 30px;
    padding-top: 1px;
    /*-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;*/
    /*-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);*/
    /*box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;*/
    box-sizing: border-box;

}

.block {
    width: 90%;
    padding-left: 20px;
    position: relative;
    word-wrap: break-word;
}

.circle {
    position: absolute;
    top: 0px;
    left: -9px;
    background-color:#5b0800;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
/*/Work*/

/*Hobbies*/
.hobbies {
    border: 1px solid rgb(255, 255, 255);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;

}
/*/Hobbies*/

/*Contacts*/

.contacts {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 200px;
    padding: 5px 7px 5px 7px;
    margin-bottom: 5px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
}

.socialMedia {
    color: #494949;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 7px 5px 7px;
    margin-bottom: 5px;
    border-radius: 100px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
}

hr{
    border: 1px solid white;
    width: 94.5%;
    margin: 30px 0px 10px 0px;

    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;

}




/*/Contacts*/

/*Portfolio*/
.portfolioImg {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.52), 0 0 40px rgba(0, 0, 0, 0.10) ;
}
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}
